// FIXTURE BAR

.data-bar {
  display: table;
  table-layout: fixed;
  position: relative;
  height: 2.5em;
  width: 100%;
  margin: 0 auto 0.4em auto;
  border-radius: 2px;
  overflow: hidden;
  max-width: @view-width-max;
  color: @dark-grey;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  background: white;
  border-collapse: collapse;
  
  font-size: 1.4rem;
}

.data-bar__cell {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  txt-overflow: ellipsis;
  text-align: center;
  position: relative;
}

.data-bar__cell-homescore,
.data-bar__cell-awayscore {
  width: 2.3em;
  border: 1px solid lighten(@keyline, 5%);
  border-top: 0;
  border-bottom: 0;
}

// fade out long text at right side
.data-bar__cell-hometeam:after,
.data-bar__cell-awayteam:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0.6em;
  right: 0;
  top: 0;
  background: white;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgb(255, 255, 255, 1) 100%);
}

.data-bar__cell-status {
  width: 2.3em;
  display: none;
}

.data-bar__cell-hometeam {
  text-align: right;
  padding-right: 0.5em;
  padding-left: 0.5em
}

.data-bar__cell-awayteam {
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.data-bar__cell-time {
  width: 4.6em;
  display: none;
  background: @dark-grey;
  border-color: @dark-grey;
  color: #eee
}

// FIXTURE
.data-bar[data-status='KO'] > .data-bar__cell-homescore,
.data-bar[data-status='KO'] > .data-bar__cell-awayscore {
  display: none;
}

.data-bar[data-status='KO'] > .data-bar__cell-time {
  display: table-cell;
}

.data-bar[data-status='KO'] > .data-bar__cell-status {
  visibility: hidden;
}

// INPLAY
.data-bar[data-status='IP'] > .data-bar__cell-time {
  display: none;
}

.data-bar[data-status='IP'] > .data-bar__cell-homescore,
.data-bar[data-status='IP'] > .data-bar__cell-awayscore {
  display: table-cell
}

// RESULT
.data-bar[data-status='FT'] > .data-bar__cell-homescore,
.data-bar[data-status='FT'] > .data-bar__cell-awayscore {
  background: @red;
  color: white;
  border-color: @content-window-background; 
}

// EVENT
@-webkit-keyframes update {
  0 {
    background: 0;
  }
  50% {
    background: #ffcc00;
  }

  100% {
    background: 0;
  }
}

.data-bar__cell[data-updated]{
  -webkit-animation: update 2s ease-in-out;
  -webkit-animation-iteration-count: 15;
  -webkit-animation-fill-mode: both;
}

// TAP HIGHLIGHT STYLES
.tap-touch,
.tap-touch > .data-bar__cell,
.tap-touch > .data-bar__cell:after {
  background: @active-color!important;
  border-color: darken(@active-color, 10%)!important;
  color: #ddd!important;
}


@media all and (@tablet-min) and (@tablet-max){
  
  .data-bar {
    font-size: 1.34rem;
    height: 2.6em;
  }
}

@media all and (@mobile-max){
  
  .data-bar {
    font-size: 0.94rem;
    height: 2.52em
  }
}