// NAV
.nav,
.nav__group {
  width: 100%;
  list-style: none;
  padding: 0;
}

.nav__item {
  text-align: center;
  width: 50%;
  float: left;
  border: 1px solid @site-nav-background;
  background: rgba(255,255,255,0.05);
  padding-bottom: 49%;
  position: relative;
}

.nav__item-link {
  position: absolute;
  display:  block;
  height: 100%;
  width: 100%;
  color: white;
}

// selected item
.nav__item-link--selected {
  background: @red;
  color: #eee;
}

.nav__item-icon {
  position: absolute;
  width: 40%%;
  height: 40%;
  left: 30%;
  top: 29%;
  fill: @nav-icon-color;
  pointer-events: none;
}

.nav__item-title {
  font-weight: normal
}