// PAGE SLOTS

.page-slots {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-slot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  .transform(translateX(100%));
  -webkit-transition: -webkit-transform 0.33s ease-in-out;
  -moz-transition: -moz-transform 0.33s ease-in-out;
  transition: transform 0.33s ease-in-out;
  padding: @page-slot-padding;
  padding-bottom: @page-slot-padding + 12px;
  overflow-y: scroll!important;
  background: @content-window-background; 
}



@media all and (@tablet-min) and (@tablet-max){
  
  .page-slot {
    padding: @page-slot-padding-tablet;
    padding-bottom: @page-slot-padding-tablet + 12px;
  }
}

@media all and (@mobile-max){
  
  .page-slot {
    padding: @page-slot-padding-mobile;
    padding-bottom: @page-slot-padding-mobile + 12px;
  }
}