// SETTINGS

// media queries
@mobile-max: ~"max-width: 32em";

@tablet-min: ~"min-width: 32em";
@tablet-max: ~"max-width: 48em";

@desktop-min: ~"min-width: 54em";
@desktop-max: ~"max-width: 65em";

@desktop-wide-min: ~"min-width: 65em";


// dimensions
@site-header-height: 76px;
@site-header-height-tablet: 68px;
@site-header-height-mobile: 54px;

@site-nav-min-width: 238px;
@site-nav-width-mobile: 276px;

@site-indent: 24px;
@site-indent-tablet: 18px;
@site-indent-mobile: 12px;

@page-slot-padding: 24px;
@page-slot-padding-tablet: 18px;
@page-slot-padding-mobile: 12px;

// colors
@content-window-background: #eee;
@site-nav-background: #484747;
@keyline: #ccc;
@red: #BF2A2C;
@red-stroke: darken(@red, 8%);

@dark-grey: #333;
@dark-grey-stroke: lighten(@dark-grey, 20%);

@icon-color: #666;

@active-color: #2261CB;

// fonts 
@font-face {
  font-family: 'ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local(Ubuntu), local('ubuntu'), url(/fonts/ubuntu.woff) format('woff');
}

@font-face {
  font-family: 'ubuntu-medium';
  font-style: normal;
  font-weight: 400;
  src: local(ubuntu-medium), local('ubuntu-medium'), url(/fonts/ubuntu-medium.woff) format('woff');
}