// SITE HEADER

.site-header {
  position: absolute;
  z-index: 2;
  top: 0;
  border-bottom: 1px solid @keyline;
  border-spacing: 0;
  width: 100%;
  background: white;
  display: table;
  table-layout: fixed;
  -webkit-transform: translateZ(0);
}

.site-header__col {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: @site-header-height;
}

.site-header__col1 {
  text-align: left;
  width: 80px;
  padding-left: @site-indent;
  opacity: 0;
  .transition(opacity 0.33s ease-in-out);
  cursor: pointer;
  line-height: 0;
}

.site-header__col1:active,
.site-header__col3:active {
  background: #eee
}

.site-header__col3 {
  text-align: right;
  width: 80px;
  padding-right: @site-indent;
  visibility: hidden;
  cursor: pointer;
  line-height: 0;
}

.site-header__col1[disabled]{
  pointer-events: none;
}

// set page title
.page-title {
  font-family: ubuntu-medium, sans-serif;
  font-weight: normal;
  font-size: 1.62rem;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.site-header__back-button,
.site-header__hamburger {
  width: 24px;
  height: 24px;
  pointer-events: none;
  fill: @icon-color
}


@media all and (@tablet-min) and (@tablet-max){

  .site-header__col {
    height: @site-header-height-tablet;
  }
  
  .site-header__col1{
    padding-left: @site-indent-tablet;
  }

  .site-header__col3 {
    visibility: visible;
    padding-right: @site-indent-tablet + 2;
  }

  .page-title {
    font-size: 1.5rem
  }

}

@media all and (@mobile-max){
  .site-header__col {
    height: @site-header-height-mobile
  }
  
  .site-header__col1{
    padding-left: @site-indent-mobile;
    width: 53px
  }

  .site-header__col3 {
    visibility: visible;
    padding-right: @site-indent-mobile + 2;
    width: 53px;
  }

  .site-header__back-button,
  .site-header__hamburger {
    width: 18px;
    height: 18px;
  }

  .page-title {
    font-size: 1.1rem
  }
}