// SITE-LAYOUT-PRIMARY

.site-layout-primary {
  .flex-box();
  height: 100%;
  position: relative
}

.site-layout-primary__col1,
.site-layout-primary__col2 {
  .flex-col();
  position: relative
}

// left hand nav column
.site-layout-primary__col1 {
  width: 20%;
  min-width: @site-nav-min-width;
  .no-flex();
  background: @site-nav-background;
  z-index: 3;
}


@media all and (@tablet-max){
  
  .site-layout-primary {
    -webkit-transition: -webkit-transform 0.33s ease-in-out;
    -moz-transition: -moz-transform 0.33s ease-in-out;
    transition: transform 0.33s ease-in-out;
  }

  // move nav off canvas on mobile
  .site-layout-primary__col1 {
    position: absolute;
    height: 100%;
    right: 0;
    min-width: 0;
    width: @site-nav-width-mobile;
    .transform(translateX(100%)); 
  }

  // nav is open
  .site-layout-primary--nav-open {
    .transform(translateX(@site-nav-width-mobile * -1));
  }

}
