// SITE HEADER

.site-header {
  position: absolute;
  z-index: 2;
  top: 0;
  height: @site-header-height;
  background: #aaa;
  width: 100%; 
  display: table;
  width: 100%;
  table-layout: fixed
}

.site-header__col {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 0;
}

.site-header__col1 {
  text-align: left;
  width: 80px;
  padding-left: @site-indent;
}

.site-header__col3 {
  text-align: right;
  width: 80px;
  padding-right: @site-indent;
  visibility: hidden
}


// set page title
.page-title {
  font-family: ubuntu-light, sans-serif;
  font-weight: normal;
  font-size: 1.7rem;
  Text-transform: capitalize;
}


@media all and (@tablet-min) and (@tablet-max){

  .site-header {
    height: @site-header-height-tablet;
  }
  
  .site-header__col1{
    padding-left: @site-indent-tablet;
  }

  .site-header__col3 {
    visibility: visible;
    padding-right: @site-indent-tablet;
  }

  .site-header__hamburger {
    width: 35px;
    height: 35px;
    pointer-events: none;
  }

  .page-title {
    font-size: 1.4rem
  }

}

@media all and (@mobile-max){
  .site-header {
    height: @site-header-height-mobile;
  }
  
  .site-header__col1{
    padding-left: @site-indent-mobile;
    width: 55px
  }

  .site-header__col3 {
    visibility: visible;
    padding-right: @site-indent-mobile;
    width: 55px;
  }

  .site-header__hamburger {
    width: 28px;
    height: 28px;
  }

  .page-title {
    font-size: 1rem
  }
}